/* Global Variables */
:root{
    --main-color:#740702;
    --secondary-color:#c70d3a;
    --nit:#545454;
    --border-size:2px;
    --transition-time:300ms;
}
/* Over all styling */



body{
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
    scrollbar-color: black;
}

/* Custom classes */

.width-50{
    width:50px;
}

.width-150{
    width:150;
}

.border-right{
    border: var(--main-color) var(--border-size);
    border-style:none;
    border-left-style: solid;
}

/* Nav bar */

.nav-bar{
    display: flex;
    padding:2% 5%;
    justify-content: space-between;
}

.nav-bar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar li{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    color:var(--main-color);
    padding:15px;
    font-weight: bold;
    /* 300ms then the hover happens */
    transition: var(--transition-time);
}

.nav-link:hover {
    color:var(--secondary-color);
}

/* Main section */

#main-section{
    height: 100vh;
    background: url("assets/bg.jpg");
    background-size: cover;
}

h1{
    font-weight: black;
    font-size: 5rem;
    color:var(--main-color);
    padding:2% 5%;
}

.buttons{
    padding:0 5%;
    position: relative;
    bottom: 65px;
}

.btn{
    text-decoration: none;
    color: var(--main-color);
    padding:10px 20px;
    border:var(--border-size) solid var(--main-color);
    border-radius: 180px;
    box-sizing:border-box;
    transition: var(--transition-time);
}

.btn:nth-child(1){
    background:var(--main-color);
    color:white;
}

.btn:hover{
    background:var(--main-color);
    color:white;
}

.btn:nth-child(1):hover{
   background: var(--secondary-color);
   border-color:var(--secondary-color);
}